.header-container {
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 40px;
  background-color: var(--primary-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header-container h2 {
  color: var(--tertiary-color);
  font-weight: 700;
}
