* {
  box-sizing: border-box;
}

:root {
  --primary-color: #fff;
  --secondary-color: #D9DBE4;
  --tertiary-color: #334AC3;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
